@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Shrikhand&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, "Lexend Deca";
  scrollbar-color: #888 #f1f1f1; /* Thumb color | Track color */
  scrollbar-width: thin; /* Makes the scrollbar thinner */
}

body::-webkit-scrollbar {
  width: 30px; /* Set the width of the scrollbar */
}
